@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono-normal {
  font-family: "Azeret Mono";
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

.color-normal{
    color: #0D1321;
}

.color-normal-light{
    color: rgba(13, 13, 33, 70%);
}

.background-light-orange{
    background-color: rgba(255, 76, 30, 0.05);
}

.background-light-blue{
    background-color: rgba(0, 76, 232, 0.05);
}

.background-light-yellow{
    background-color: rgba(255, 223, 0, 0.05);
}

/* Banner style starts */
.banner-container{
    max-width: 1280px;
    max-height: 573.76px;
    border: 1px solid white;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* margin-bottom: 135.52px; */
}

.banner-content{
    width: 878.24px;
    height: 512.16px;
    margin: 22.88px auto 39.6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-image-container{
    width: 211.2px;
    height: 211.2px;
    margin-bottom: 28.16px;
}

.banner-image-container img{
    width: 100%;
    height: 100%;
}

.banner-title{
    font-weight: 800;
    font-size: 42.24px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 21.12px;
}

.banner-sub-title{
    width: 749.76px;
    height: 45.76;
    font-weight: 400;
    font-size: 14.08px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0 auto 28.16px auto;
}

.banner-button{
    text-align: center;
}

.banner-button button{
    width: 183.04px;
    height: 58.08px;
    border-radius: 7.04px;
    background-color: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 17.6px;
    font-weight: 600;
    letter-spacing: 0%;
    text-align: center;
}
/* Banner style ends */

/* Why-web section style start */
.why-web-section{
    max-width: 1280px;
}

.why-web-container{
    width: 1003.2px;
    height: 1227.6px;
    margin: 75px auto;
    border-radius: 14.08px;
    background: rgba(13, 19, 33, 0.02);
    border: 1px solid white;
}

.why-web-content{
    width: 832.48px;
    height: 1100px;
    margin: 70.4px auto;
}

.why-web-title{
    font-size: 28.16px;
    font-weight: 800;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 21.12px;
}

.why-web-sub-title{
    width: 749.76px;
    height: 45.76;
    font-size: 14.08px;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: center;
    margin: 0 auto 42.24px auto;
}

/* I-will content style starts */
.i-will-container{
    width: 832.48px;
    height: 943.36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 28.16px;
}

.i-will-content{
    width: 832.48px;
    height: 295.68px;
    border-radius: 14.08;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.i-will-image{
    width: 336.93px;
    height: 295.68px;
}

.i-will-image img{
    width: 77%;
    height: 64.59%;
    padding: 55px;
}

.i-will-text{
    width: 367.07px;
    height: 247.68px;
    margin: 48px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.i-will-title{
    font-weight: 700;
    font-size: 21.12px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 14.08px;
}

.i-will-sub-title{
    font-size: 14.08px;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: left;
    color: rgb(13, 19, 33);
    opacity: 0.7;
    margin: 0 auto 28.16px auto;
}

.i-will-button{
    text-align: left;
}

.i-will-button button{
    width: 132px;
    height: 42.24px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 17.6px;
    font-weight: 600;
    letter-spacing: 0%;
    text-align: center;
}
/* I-will content style ends */
/* Why-web section style ends */

/* Inspiration section style starts */
.inspiration-section{
    max-width: 1280px;
}

.inspiration-container{
    width: 1003.2px;
    height: 682px;
    margin: 0 132px 161.04px;
    border: 1px solid white;
}

.inspiration-title{
    font-size: 28.16px;
    font-weight: 800;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 21.12px;
}

.inspiration-sub-title{
    width: 749.76px;
    height: 45.76;
    font-size: 14.08px;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: center;
    margin: 0 auto 42.24px auto;
}

.inspiration-video-container{
    width: 1003.2px;
    height: 540.32px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 14.08px;
    padding: 32px;
}

.inspiration-video-container iframe{
    width: 946.88px;
    height: 484px;
    border-radius: 14.08px;
}
/* Inspiration section style ends */

/* Target section style starts */
.target-section{
    max-width: 1280px;
}

.target-section-title{
    font-size: 28.16px;
    font-weight: 800;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 21.12px;
}

.target-section-sub-title{
    width: 749.76px;
    height: 45.76;
    font-size: 14.08px;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: center;
    margin: 0 auto 42.24px auto;
}

.target-container{
    width: 1003.2px;
    height: 263.12px;
    margin: 0 auto 88px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 21.12px;
}

.targets{
    width: 320.32px;
    padding: 36px;
    border-radius: 14.08px;
}

.targets img{
    width: 49.28px;
    height: 49.28px;
    margin-bottom: 21.12px;
}

.target-title{
    font-size: 21.12px;
    font-weight: 800;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 7.04px;
}

.target-sub-title{
    font-size: 14.08px;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 21.12px;
}

.targets a{
    font-size: 14.08px;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: left;
    color: #0D1321;
}
/* Target section style ends */

/* Support section style starts */
.support-section{
    max-width: 1280px;
    padding: 56.32px 42.24px;
    border-radius: 14.08px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.support-content{
    width: 918.72;
    height: 162.8;
}

.support-title{
    font-size: 28.16px;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: center;
    color: white;
    margin-bottom: 14.08px;
}

.support-sub-title{
    width: 533.28px;
    height: 45.76px;
    color: white;
    opacity: 0.7;
    font-size: 14.08px;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: center;
    margin: 0 auto 21.12px;
}

.support-submit{
    text-align: center;
}

.support-submit input{
    width: 482.24px;
    height: 50.16px;
    padding: 19px 20px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 7.04px;
    background: rgb(255, 255, 255);
}

.support-submit button{
    width: 105.6px;
    height: 50.16px;
    border: none;
    border-radius: 7.04px;
    background-color: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-size: 17.6px;
    font-weight: 600;
    letter-spacing: 0%;
    text-align: center;
}
/* Support section style ends */

.footer-section{
    max-width: 1280px;
    padding: 32px 150px;
}

.footer-content{
    width: 1003.2px;
    height: 31.68px;
}

nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

nav p{
    font-size: 17.6px;
    font-weight: 600;
    letter-spacing: 0%;
    text-align: center;
}

nav ul{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 21.12px;
}

nav ul li{
    list-style: none;
}